<form method="POST" action="/welcome">
  <p>Character Name: <input type="text" name="name"></p>
  <p>Animal Type:<input type="text" name="animal"></p>
  <p>Good or Evil? <input type="text" name="morals"></p>
  <input type="submit">
</form>
